# Never commit source/downloaded/exported media (including uppercase extensions).
*.[mM][pP]4
*.[mM][kK][vV]
*.[mM][oO][vV]
*.[aA][vV][iI]
*.[wW][eE][bB][mM]
*.[mM]4[vV]
*.[wW][mM][vV]
*.[fF][lL][vV]
*.[mM][pP][gG]
*.[mM][pP][eE][gG]
*.[tT][sS]
*.[mM]2[tT][sS]
*.[gG][iI][fF]
*.mp3
*.m4a
*.aac
*.wav
*.flac
*.m3u8
/Downloads/
/Exports/
/Cache/
/tools/
/.build/
/work/

# Downloaded executables, proprietary runtimes, build products and archives.
*.exe
*.com
*.dll
*.addon64
*.addon32
*.lib
*.exp
*.obj
*.pdb
*.res
*.zip
*.7z
*.tar
*.gz
*.lnk
*.dlss5oneclick
**/build/
**/external/

# Machine-specific state and diagnostic logs. Share sanitized config/ instead.
*.log
*.log[0-9]*
*.dmp
*.partial.*
/launcher-settings.json
/streamlink.conf
/ReShade.ini
/ReShadePreset.ini
/dlss5-feed.cfg
/portable_config/
/reshade-shaders/
/mpv-register.bat
/mpv-unregister.bat
/updater.bat
/.vs/
/.vscode/
.DS_Store
Thumbs.db

# Documentation/fonts bundled with the external MPV distribution
/doc/
/mpv/

/ReShade*.ini
/installer/
